<!-- HTML for site's static splash/index page -->
<div class="hero"> <!-- Dominant image featuring text box at its centre -->
  <br />
  <div class="frosty col-10 offset-1 text-center"> <!-- 10/12 of width, 1/10 indent -->
    <br />
    <h1>Learn Magic from the Pros</h1>
    <br />
    <h2>I'm an illusionist, Michael.</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div> <!-- class="frosty" -->
</div> <!-- class="hero" -->

<br />

<div class="row feature text-center"> <!-- Bootstrap row, fill with columns -->
  <div class="col-12 col-sm"> <!-- 12/12 for "xs" screen, "col-sm" = equal-width col for "sm" -->
    <h3>Amazing Courses</h3>
    <br />
    <p>Choose from any number of courses to study with amazing teachers.</p>
  </div> <!-- class="col-12 col-sm" -->

  <div class="col-12 col-sm"> <!-- 12/12 for "xs" screen, "col-sm" = equal-width col for "sm" -->
    <h3>Learn At Your Own Pace</h3>
    <br />
    <p>Enroll and access a courses archive of lessons.</p>
  </div> <!-- class="col-12 col-sm" -->

  <div class="col-12 col-sm"> <!-- 12/12 for "xs" screen, "col-sm" = equal-width col for "sm" -->
    <h3>Join our Community</h3>
    <br />
    <p>Learn with a community of like-minded individuals.</p>
  </div> <!-- class="col-12 col-sm" -->
</div> <!-- class="row feature" -->